body.local-learningtools #page-wrapper #disable-focusmode {
    position: fixed;
    z-index: 6;
    text-align: right;
    right: 60px;
    top: 35px;
}

body.local-learningtools div#disable-focusmode .btn.btn-primary {
    border-radius: 22px;
    box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
}