<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
  </head>
  <body style="overflow: hidden; padding: 0px; margin: 0px">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: cyan;
        width: 100vw;
        height: 100vh;
        font-size: xx-large;
        font-weight: bold;
        color: white;
      "
      id="container"
    >
      <label for="quantity" id="quantity">Minutes</label>
      <input
        id="number"
        value="1"
        type="number"
        min="1"
        max="60"
        pattern="[0-9]+"
        style="width: 70px; height: 50px"
      />
      <input
        type="button"
        name="button"
        id="submitbutton"
        onclick="getVal()"
        value="Submit"
        style="border-radius: 1rem; width: 120px; height: 50px; margin-top: 5px"
      />
    </div>
    <script>
      function getVal() {
        if (
          parseInt(document.getElementById("number").value, 10) < 1 ||
          parseInt(document.getElementById("number").value, 10) > 60
        ) {
          alert("Please enter a number between 1-60!");
        } else {
          location.href =
            "./pomodoro.php" +
            "?" +
            parseInt(document.getElementById("number").value, 10);
        }
      }
    </script>
  </body>
</html>
