*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outbox {
  height: 500px;
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.outbox:before {
  content: "";
  height: 150%;
  width: 150%;
  position: absolute;

  background: conic-gradient(
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  left: -25%;
  top: -25%;
  animation: spin 1.5s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.innerbox {
  position: absolute;
  background-color: #1c1b29;
  height: 93%;
  width: 93%;

  top: 3.5%;
  left: 3.5%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.submitbutton {
  border: 1px;
  border-style: solid;
  border-radius: 1rem;
  height: 3rem;
  width: 30%;
  text-align: center;
  outline: none;
  background-color: #3363ff;
  color: white;
  margin-bottom: 10px;
}

.submitbutton:active {
  border: 1px;
  border-style: solid;
  border-radius: 1rem;
  height: 3rem;
  width: 30%;
  text-align: center;
  outline: none;
  background-color: blue;
  color: white;
  margin-bottom: 10px;
}
