<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body style="overflow: hidden; padding: 0px; margin: 0px">
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: pink;
        width: 100vw;
        height: 100vh;
      "
    >
      <div class="outbox">
        <div class="innerbox">
          <p
            style="
              border: 1px;
              border-style: solid;
              padding: 1rem;
              margin-bottom: 1rem;
            "
          >
            Create Game
          </p>
          <input
            type="text"
            style="
              border: 1px;
              border-style: solid;
              border-radius: 1rem;
              height: 3rem;
              width: 70%;
              outline: none;
              padding-left: 10px;
              margin-bottom: 10px;
            "
          />
          <button class="submitbutton" onclick="getVal()">Create</button>
        </div>
      </div>
    </div>
    <script>
      function redirect(val) {
        location.href = "./createquestion.php?" + val;
      }
      function getVal() {
        let val = document.querySelector("input").value;
        val = val.replace(/\s/g, "");

        if (val !== "") {
          let xhr = new XMLHttpRequest();
          xhr.open("POST", "http://127.0.0.1:3000/kahootid");
          xhr.setRequestHeader(
            "Content-Type",
            "application/json;charset=UTF-8"
          );
          xhr.send(
            JSON.stringify({
              date: Date.now(),
              kahootid:"{{#mylist}}{{.}}{{/mylist}}"
            })
          );
          
          xhr.onload = () => {
            const responsexhr = JSON.parse(xhr.response);
            if (responsexhr.status === "true") {
              alert("Kahoot ID exist");
            } else {
              redirect(val);
            }
          };
        }
      }
    </script>
  </body>
</html>
